
APP_ENV=dev
APP_PORT=5001
GALLERIES_PATH=data/
CONFIG_PATH=config/

#################################################
# API Keys
# > python scripts/gen_api_key.py
#
#  NOTE: Placed here to avoid hard-coding into app code.
#    As it scales to support multiple clients/users, keys
#    persistence should be moved into different storage.

API_KEY_HOOKS=


#################################################
# PostgreSQL Database Configuration

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ddownloader
DB_USERNAME=
DB_PASSWORD=

#################################################
# Communication to Central for monitoring

CT_MONITORING_ENABLED=false
CT_API_URL=http://localhost:3000/api
CT_API_KEY=


#################################################
# OpenTelemetry Configuration

OTEL_ENABLED=false
OTEL_SERVICE_NAME=ddownloader
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp,console
OTEL_EXPORTER_OTLP_ENDPOINT=0.0.0.0:4317
OTEL_EXPORTER_OTLP_INSECURE=true
