{% extends "base.html" %}

{% block title %}Sources{% endblock %}

{% block content %}
  <header class="mb-2 mb-sm-4">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h1 class="h3 mb-1">Gallery Sources</h1>
      </div>

      <div class="col-12 col-sm-6 text-sm-end pt-sm-1">
        <span class="badge text-bg-secondary d-none">Showing xx - yy</span>
        <span class="badge text-bg-secondary">{{ sources|length }} total</span>
      </div>
    </div>
  </header>

  {% if sources and (sources|length) > 0 %}

    <!-- Universal/Responsive card based grid -->
    <div class="row">
      {% for src in sources %}
        <div class="col-12 col-lg-6 mb-3">

          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-0">{{ src.name }}</h5>
            </div>
            <div class="card-body pb-4">
              <div class="card-text">

                <p class="text-truncate mb-1">
                  <i class="bi bi-link me-1"></i>
                  <a class="text-reset" href="{{ src.url }}" target="_blank">
                    {{ src.url }}
                  </a>
                </p>

                <p class="text-truncate mb-0">
                  <i class="bi bi-folder me-1"></i>
                  <span class="font-monospace bg-secondary-subtle p-1">
                    {{ src.content_path }}
                  </span>
                </p>

                <div class="row mt-4">
                  <div class="col-6">
                    <label>
                      <!-- <i class="bi bi-calendar-event me-1"></i> -->
                      <b class="text-secondary small">SCHEDULE</b>
                    </label>
                    <p class="mb-0">
                      <span class="font-monospace bg-secondary-subtle px-1">
                        {{ src.download_schedule }}
                      </span>
                      <br/>
                      <i class="small">{{ src.download_schedule_description }}</i>
                    </p>
                  </div>

                  <div class="col-6">
                    <label>
                      <!-- <i class="bi bi-calendar-event me-1"></i> -->
                      <b class="text-secondary small">OPTIONS</b>
                    </label>

                    <!-- Download enabled -->
                    <p class="mb-0">
                      {% if src.download_enabled %}
                        <i class="bi bi-toggle2-on me-1"></i>
                      {% else %}
                        <i class="bi bi-toggle2-off me-1"></i>
                      {% endif %}
                      <span>Download enabled</span>
                    </p>

                    <!-- Sync remote deletes enabled -->
                    <p class="mb-0">
                      {% if src.sync_remote_deletes %}
                        <i class="bi bi-toggle2-on me-1"></i>
                      {% else %}
                        <i class="bi bi-toggle2-off me-1"></i>
                      {% endif %}
                      <span>Sync remote deletes</span>
                    </p>
                  </div>
                </div>

              </div>
            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col text-end">
                  <a class="btn btn-sm btn-secondary me-2"
                     href="{{ url_for('sources.download_jobs', source_id=src.id) }}">
                    <i class="bi bi-list-check me-1"></i>
                    <span>Past downloads</span>
                  </a>

                  <form action="{{ url_for('sources.download_immediately', src_id=src.id) }}"
                        method="post"
                        class="d-inline"
                        onsubmit="this.querySelector('button[type=submit]').disabled=true">
                    <button class="btn btn-sm btn-secondary" type="submit">
                      <i class="bi bi-cloud-download-fill me-1"></i>
                      <span>Download now</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      {% endfor %}
    </div>

  {% else %}
    <div class="alert alert-info" role="alert">
      No sources available.
    </div>
  {% endif %}
{% endblock %}