{% extends "base.html" %}

{% block title %}Sources{% endblock %}

{% block content %}
  <header class="mb-2 mb-sm-4">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h1 class="h3 mb-1">Http Gallery Sources</h1>
      </div>

      <div class="col-12 col-sm-6 text-sm-end pt-sm-1">
        <span class="badge text-bg-secondary d-none">Showing xx - yy</span>
        <span class="badge text-bg-secondary">{{ sources|length }} total</span>
      </div>
    </div>
  </header>

  {% if sources and (sources|length) > 0 %}

    <!-- Desktop table -->
    <div class="table-responsive d-none d-lg-block">
      <table class="table table-striped align-middle mb-0 small">
        <thead>
          <tr>
            <th scope="col">🔗 Source</th>
            <th scope="col">📅 Schedule</th>
            <th scope="col">⚙️ Config</th>
          </tr>
        </thead>
        <tbody>
          {% for src in sources %}
            <tr>
              <td>
                <div class="font-monospace">
                  {{ src.content_path }}
                </div>
                <a
                  class="text-decoration-none"
                  href="{{ src.url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{ src.url }}
                </a>

                <div class="pt-2 text-secondary small">
                  <table>
                    <tr>
                      <td>Source id:</td>
                      <td class="ps-2">
                        <span>{{ src.id }}</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>

              <td class="font-monospace">{{ src.download_schedule }}</td>

              <td>
                <table>
                  <tr>
                    <td class="text-end">Enabled:</td>
                    <td class="ps-2">
                      {% if src.download_enabled %}
                        <span class="badge text-bg-success">Yes</span>
                      {% else %}
                        <span class="badge text-bg-secondary">No</span>
                      {% endif %}
                    </td>
                  </tr>

                  <tr>
                    <td class="pt-2 text-end">Sync deletes:</td>
                    <td class="pt-2 ps-2">
                      {% if src.sync_remote_deletes %}
                        <span class="badge text-bg-warning">Yes</span>
                      {% else %}
                        <span class="badge text-bg-secondary">No</span>
                      {% endif %}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Mobile-friendly cards -->
    <div class="d-lg-none">
      <div class="d-flex flex-column gap-2">
        {% for src in sources %}
          <div class="card shadow-sm small">
            <div class="card-body pb-4">
              <div class="row">

                <!-- Header area: content path + url (no labels) -->
                <div class="col-12">
                  <div class="font-monospace">{{ src.content_path }}</div>
                  <a
                    class="text-decoration-none"
                    href="{{ src.url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{ src.url }}
                  </a>
                </div>

                <!-- Schedule -->
                <div class="col-12 pt-3">
                  <div class="small text-secondary">Download schedule</div>
                  <div class="font-monospace">{{ src.download_schedule }}</div>
                </div>


                <div class="pt-2 col-6">
                  <div class="small text-secondary">Download enabled</div>
                  <div>
                    {% if src.download_enabled %}
                      <span class="badge text-bg-success">Enabled</span>
                    {% else %}
                      <span class="badge text-bg-secondary">Disabled</span>
                    {% endif %}
                  </div>
                </div>

                <div class="pt-2 col-6">
                  <div class="small text-secondary">Sync remote deletes</div>
                  <div>
                    {% if src.sync_remote_deletes %}
                      <span class="badge text-bg-warning">Yes</span>
                    {% else %}
                      <span class="badge text-bg-secondary">No</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="alert alert-info" role="alert">
      No sources available.
    </div>
  {% endif %}
{% endblock %}